header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    max-width: 75px;
}

header a {
    text-decoration: none;
    color: white;
}